.MainChat
  - @posts.each do |post|
    .ContentPost
      .tag
        %span
        = = image_tag 'src', alt: '', height: '', width: '', class: ''
      %p.text
        = post.text 
      %span.name  
        = post.name
