.SideBar
  %ul.Category
    .title カテゴリー一覧
    %li.Category__list
      = link_to "離乳食初期"
    %p [５〜６ヶ月]
    %li.Category__list
      = link_to "離乳食中期"
    %p [７〜８ヶ月]
    %li.Category__list
      = link_to "離乳食後期"
    %p [９〜１１ヶ月]
    %li.Category__list
      = link_to "離乳食完了期"
    %p [１２〜１歳６ヶ月]